@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.theme-light {
  .modal, div[class*="modal"] {
    background-color: white;
    border-radius: 5px;
  }
  // Attempt to catch mouse-overs in popup.
  > :not(grafana-app) > div:not([class]) > div[class*="css-"] {
    background-image: linear-gradient(to right bottom, #ffffff, #f3f4f4, #e6e9e9, #dadedc, #d1d2ce);
  }
  > :not(grafana-app) > div:not([class]) > div[class*="css-"] > div[class*="css-"] {
    background-color: white;
    border-bottom: 1px solid #cccccc;
  }
}
#trendModalButton {
  button {
    height: 32px;
    padding: 0px 8px;
    border-radius: 2px;
    line-height: 30px;
    font-weight: 500;
    border: 1px solid rgb(199, 208, 217) !important;
    white-space: nowrap;
    color: rgb(41, 41, 41);
    background-color: rgb(255, 255, 255);
    transition: all 0.5s;
    cursor: pointer;
    min-width: 150px;
  }
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color:rgb(41, 41, 41);
  }
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  button:hover span {
    padding-right: 25px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
  button:hover, button:active, button:focus {
    color: rgb(77, 77, 77);
    background-color: rgb(230, 230, 230);
  }
}
.visualisation {
  overflow: scroll;
  .stack {
    overflow: unset;
  }
  .caption {
    white-space: nowrap;
  }
  .btn {
    background-color: blue;
    &.disabled {
      background-color: white;
      cursor: not-allowed;
      pointer-events: unset; // if not unsetting pointer-events, `cursor: not-allowed;` will never be visible
    }
  }
  .trendLink {
    color: gray;
    font-size: 80%;
  }
}
.nativeTrend {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms;
  height: 0;
  z-index: 1030;
  .panel-wrapper {
    height: 90%;
    position: relative;
    top: 5%;
    width: 90%;
    left: 5%;
  }
  #closeButton {
    position: fixed;
    top: 2vh;
    right: calc(5% - 2.5vh);
    font-size: 150%;
    border: 2px solid #ccc;
    width: 5vh;
    height: 5vh;
    text-align: center;
    vertical-align: baseline;
    border-radius: 2.5vh;
    line-height: 5vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1030;
  }
  #closeButton:hover {
    background: rgba(160, 0, 0, 1)
  }
  .panel-loading {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: #141619;
  }
}

#alertElem {
  position: absolute;
  top: 10vh;
  th, td {
    padding: 0 1ex 1ex 0;
  }
  table {
    padding-bottom: 1ex;
  }
  ol {
    padding-left: 2em;
  }
}
@keyframes pulse {
  0%, 100% { opacity: 0.1 }
  50% { opacity: 1 }
}
